@import "tailwindcss";
@import "tw-animate-css";

@config '../tailwind.config.js';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --radius: 0.5rem;
  --pixel-size: 6;
  --tile-size: 80px;

  /* Player */
  --player-sprite-width: 192px;
  --player-sprite-height: 192px;
}
